@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: auto;
}



.container #navbar .brand{
    padding-left: 50px;
}

.container #navbar .brand img{
    width: 40%;
    background-color: white;
    border-radius: 100%;
}



.container #navbar .links li{
    list-style: none;
    font-size: 19px;
}

.container #navbar .links li a{
    text-decoration: none;
    color: white;
    font-family: roboto;
    padding: 45px 45px 28px 45px;
}

}

.capa{
    background-color: white;
    background-image: linear-gradient(to bottom, white , #425563);
}

.capa img{
    width: 50%;
    height: auto;
    margin: 9.5ch 25% 0 25%;
    display: block;
}

footer{
    background-color: gray;
}

footer .footer{
    background-color: rgb(99, 99, 99);
    padding-top: 5px;
    padding-bottom: 10px;
}

footer .footer .links{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 40px;
}

footer .footer .links li{
    list-style: none;
    font-size: 16px;
}

footer .footer .links li a{
    text-decoration: none;
    margin: 0 20px 0 20px;
    font-family: roboto;
    color: black;
    font-size: 20px;
    font-weight: 900;
}

footer .footer .links li a:hover{
    color: whitesmoke;
}

footer p{
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
    font-family: roboto;
}

    body{
        background-color: #425563;
    }
    

    .container #navbar{
        position: fixed;
        top: 0;
        width: 100%;
        background-color: #B20000;
        margin-bottom: 25%;
        color: white;
        display: flex;
        justify-content: start;
        align-items: center;
        padding: 7px 0 7px;
        /*border-bottom-left-radius: 20%;
        border-bottom-right-radius: 20%; */
}
.container #navbar .links{
    width: 30%;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}
.container #navbar ul.links li a:hover{
    background: rgba(0, 0, 0, 0.267);
    border-bottom: 5px solid cyan;
    box-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: rgb(201, 201, 201);
    padding: 45px 45px 21.8px 45px;
    transition-duration: .3s;
}